<%= form_with(model: @person) do |form| %>

  <div class="formSection">
    <div class="formLabel">First name:</div>
    <%= form.text_field(:first_name) %>
  </div>


  <div class="formSection">
    <div class="formLabel">Last name:</div>
    <%= form.text_field(:last_name) %>
  </div>

  <div class="formSection">
    <div class="formLabel">Date of birth:</div>
    <div>
      <%= form.date_field(:date_of_birth) %>
    </div>
  </div>


  <div class="formSection">
    <div class="formLabel">Phone number:</div>
    <%= form.telephone_field(:phone_number) %>
  </div>

  <div class="formSection">
    <div class="formLabel">Email:</div>
    <%= form.email_field(:email) %>
  </div>

  <div class="formSection">
    <div class="formLabel">Address:</div>
    <%= form.text_field(:address) %>
  </div>

  <div class="formSection">
    <div>
      <%=form.check_box(:is_banned, {checked: false}) %>
      <%= form.label(:is_banned) %>
    </div>
  </div>



  <%= form.submit("Submit") %>
<% end %>
