<%= form_with(model: @dog) do |form| %>

  <% if @dog.errors.any? %>
    <% @dog.errors.full_messages.each do |message|%>
      <h5 class="error_message"><%= message %> </h5>
    <%end%>
  <%end%>

  <div class="formSection">
    <div class="formLabel">Name:</div>
      <%= form.text_field(:name) %>
  </div>

  <div class="formSection">
    <div class="formLabel">Date of birth:</div>
    <div>
      <%= form.date_field(:date_of_birth) %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Size:</div>
    <div>
      <%= form.collection_select(:size_id, @sizes, :id, :size_name, {prompt: true})%>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Breed:</div>
    <div>
      <%= form.collection_select(:breed_ids, @breeds, :id, :breed_name, {}, {multiple: true})%>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Gender:</div>
    <div>
      <%= form.radio_button(:is_male, true) %>
      <%= form.label(:is_male_true, "Male") %>
      <%= form.radio_button(:is_male, false) %>
      <%= form.label(:is_male_false, "Female") %>
    </div>
  </div>

  <div class="formSection">
    <div>
      <%=form.check_box(:is_fixed, {checked: false}) %>
      <%= form.label(:is_fixed) %>
    </div>
  </div>

  <div class="formSection">
    <div>
      <%=form.check_box(:is_vaccinated, {checked: false}) %>
      <%= form.label(:is_vaccinated) %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Additional data:</div>
    <div>
      <%= form.text_area(:description ,rows: 5, cols: 50) %>
    </div>
  </div>


  <div class="formSection">
    <div class="formLabel">Images:</div>
    <div>
      <%= form.file_field(:images, {multiple: true}) %>
    </div>
  </div>

  <% @dog.images.each do |image|%>
    <%= image_tag image, width: 100, height: 100 %>
  <%end%>

  <%= form.submit("Submit") %>
<% end %>

<!--rails best practice:-->
<!--1. you can pass multiple params to a function without ()-->
<!--2. if the last param is option, we dont need {}-->