<h2>Dogs</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Breed</th>
    <th>Size</th>
    <th>Is vaccinated</th>
    <th>Is fixed</th>
    <th>Gender</th>
    <th>Additional info</th>
  </tr>
  <% @dogs.each do |d| %>
    <tr>
      <td><%= d.name.capitalize %></td>
      <td><%= distance_of_time_in_words(d.date_of_birth, Time.now) unless d.date_of_birth.nil? %></td>
      <td><%= d.breeds.map(&:breed_name).join(', ') %></td>
      <td><%= d.size_name %></td>
      <td><%= d.is_vaccinated ? "V" : "X"%></td>
      <td><%= d.is_fixed ? "V" : "X" %></td>
      <td><%= d.is_male ? "Male" : "Female" %></td>
      <td><%= d.description %></td>
    </tr>
  <% end %>
</table>




