<h2>Add new dog form</h2>
<%= form_with(url: "/dog/create", method: "post") do %>
  <div class="formSection">
    <div class="formLabel">Name:</div>
    <div>
      <%= text_field_tag(:name) %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Date of birth:</div>
    <div>
      <%= date_field_tag(:date_of_birth) %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Size:</div>
    <div>
      <%= select_tag(:size, raw('<option value="small">Small</option>
                                 <option value="medium">Medium</option>
                                 <option value="large">Large</option>')) %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Gender:</div>
    <div>
      <%= radio_button_tag(:is_male, "male", true) %>
      <%= label_tag(:is_male_true, "Male") %>
      <%= radio_button_tag(:is_male, "female") %>
      <%= label_tag(:is_male_false, "Female") %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Fixed:</div>
    <div>
      <%= radio_button_tag(:is_fixed, "false", true) %>
      <%= label_tag(:is_fixed_false, "False") %>
      <%= radio_button_tag(:is_fixed, "true") %>
      <%= label_tag(:is_fixed_true, "true") %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Vaccinated:</div>
    <div>
      <%= radio_button_tag(:is_vaccinated, "false", true) %>
      <%= label_tag(:is_vaccinated_false, "False") %>
      <%= radio_button_tag(:is_vaccinated, "true") %>
      <%= label_tag(:is_vaccinated_true, "true") %>
    </div>
  </div>

  <div class="formSection">
    <div class="formLabel">Additional data:</div>
    <div>
      <%= text_area_tag(:description, nil ,rows: 5, cols: 50) %>
    </div>
  </div>

  <%= submit_tag("Submit") %>
<% end %>
